<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82229722046-qd0lc66v93e4in6fo3nahqu0401hib82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82229722046-qd0lc66v93e4in6fo3nahqu0401hib82</string>
	<key>API_KEY</key>
	<string>AIzaSyASH9mpojFVlLNwkP8PON-KczGZY5pNfqs</string>
	<key>GCM_SENDER_ID</key>
	<string>82229722046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RNFitness</string>
	<key>PROJECT_ID</key>
	<string>fitness-ios-react-native</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-ios-react-native.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82229722046:ios:6a441a9f9874177285d7ef</string>
</dict>
</plist>