<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978186159501-mi8fsa4cu7qjqvafdkibki9762qg1cms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978186159501-mi8fsa4cu7qjqvafdkibki9762qg1cms</string>
	<key>API_KEY</key>
	<string>AIzaSyBLTcOXhjk648Lsw5R2iM5vXtNhdUWi9Oo</string>
	<key>GCM_SENDER_ID</key>
	<string>978186159501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RNFitness</string>
	<key>PROJECT_ID</key>
	<string>rn-fitness-admin</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-fitness-admin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978186159501:ios:a999dc1c9210f84885a9c4</string>
</dict>
</plist>